.answer__content {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
}

.result {
    text-align: center;
}

.result__text_correct {
    color: #ff0000;
}

.result__text_incorrect {
    color: #0000ff;
}

.answer {
    width: 100%;
}

.answer__item {
    width: 100%;
    border-collapse: collapse;
}

.answer-table__header,
.answer-table__text {
    border: 1px solid #b7b7b7;
    padding: 20px;
}

.answer-table__header {
    width: 30%;
    background-color: #ddd;
}